In [1]:
import nltk

In [5]:
names = [("Group A", "Paul"), ("Group A", "Mike"), ("Group A", "Katy"), ("Group B", "Amy"), ("Group B", "Joe"), ("Group B", "Amy")]

In [6]:
names

[('Group A', 'Paul'),
 ('Group A', 'Mike'),
 ('Group A', 'Katy'),
 ('Group B', 'Amy'),
 ('Group B', 'Joe'),
 ('Group B', 'Amy')]

In [7]:
nltk.FreqDist(names)

FreqDist({('Group B', 'Amy'): 2, ('Group A', 'Paul'): 1, ('Group A', 'Mike'): 1, ('Group A', 'Katy'): 1, ('Group B', 'Joe'): 1})

In [9]:
a = nltk.ConditionalFreqDist(names)

In [10]:
a["Group A"], a["Group B"]

(FreqDist({'Paul': 1, 'Mike': 1, 'Katy': 1}), FreqDist({'Amy': 2, 'Joe': 1}))

In [11]:
a.tabulate()

         Amy  Joe Katy Mike Paul
Group A    0    0    1    1    1
Group B    2    1    0    0    0